*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    ul{
        margin: 16px 0;
        padding: 0;
        display: flex;
        li{
            list-style: none;
            a{
                margin: 0 6px;
            }
        }
    }
}

section{
    margin-bottom: 20px;
}

#article{
    display: flex;
    gap: 12px;

    article{
        border: 1px solid black;
        padding: 12px;
        border-radius: 6px;
    }
}