// nav {
//   border: 1px solid black;
//   height: 80px;
//   display: flex;
//   align-items: center;


//   &--logo{
//     height: 100%;
//   }
// }


$font_size_large: 24px;
$title_color: #61DAFB;
$primary_color: rgb(78, 95, 120);
$font_family: 'Inter';

.header {
  display: flex;
  align-items: center;
  height: 90px;
  background: #21222A;

  &--logo {
    height: 30px;
    width: 30px;
    margin-right: 8px;
  }

  &--title {
    font-size: $font_size_large;
    color: $title_color;
  }
}

.main {
  height: 100vh;
  background-color: $primary_color;
  color: rgb(54, 49, 49);

  &--title {
    font-size: 40px;
    letter-spacing: -0.05em;
    line-height: 48px;
    font-weight: 700;
    color: red;
  }

  &--list {
    margin-top: 46px;

    li {
      font-size: 1em;
      font-weight: 400;
      line-height: 20px;
      margin-bottom: 20px;
    }
  }
}