.main {
  background-color: black;
  color: white;
  width: 317px;
  // height: 399px;
  margin: 0 auto;
  .profile{
    &--name {
      font-size: 25px;
      padding-top: 20px;
    }
    &--position {
      font-size: 12px;
      color: #F3BF99;
      margin-bottom: 8px;
    }
    &--url {
      font-size: 10px;
    }
  }
  .btn {
    width: 247px;
    text-align: center;
    img {
      padding: 0 10px;
    }
  }
  .detail {
    &--about {
      padding: 30px 35px 0 35px;
      text-align: start;
      .title {
        font-size: 16px;
        font-weight: bold;
      }
      .content {
        font-size: 10px;
      }
    }
    &--interests {
      padding: 10px 35px 0 35px;
      text-align: start;
      .title {
        font-size: 16px;
        font-weight: bold;
      }
      .content {
        font-size: 10px;
        margin: 0;
        padding-bottom: 50px;
      }
    }
  }
}